/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Global style */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #A2C4C9;
    text-align: center;
}

/* Main section */
main {
    background-color: #DDD;
    border: 2px solid black;
    height: 500px;
    margin: 2rem 10% 0;
    padding: 0 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
}

#category-selection {
    text-align: center;
}