/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Global style */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #A2C4C9;
    text-align: center;
    margin: 0;
    padding: 0;
}

button {
    background-color: #741B74;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 2px;
}

img {
    height: 200px;
}

/* Header */

header {
    position: absolute;
    right: 175px;
    width: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header > input, header > label {
    margin: 5px;
}

header > button {
    grid-column-start: 2;
    margin: 5px;
}

/* Main section */

main {
    background-color: #DDD;
    border: 2px solid black;
    min-height: 500px;
    margin: 2rem 10% 0;
    padding: 0 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
}

/* Home page */

#category-selection {
    text-align: center;
    font-weight: bold;
}

#category-selection > button {
    margin: 10px;
}

/* Questions */

.answers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

#extra {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    text-align: center;
}

#next-button {
    font-size: 125%;
    margin: 2rem;
    padding: 0.5rem;
}