/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Global style */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #A2C4C9;
    text-align: center;
    margin: 0;
    padding: 0;
}

button {
    background-color: #741B74;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 2px;
}

img {
    height: 200px;
}

/* Header */

header > div {
    position: absolute;
    right: 10%;
}

/* Main section */

main {
    background-color: #DDD;
    border: 2px solid black;
    min-height: 500px;
    margin: 2rem 10% 0;
    padding: 0 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
}

/* Home page */

#category-selection {
    text-align: center;
    font-weight: bold;
}

#category-selection > button {
    margin: 25px;
}

/* Questions */

#question {
    height: 250px;
}

/* Answer buttons */

.answers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.answers > div {
    display: flex;
}

.answers input[type="radio"] { /*Hides radio buttons*/
    opacity: 0;
    position: fixed;
    width: 0;
}

.answers label {
    background-color: #A2C4C9;
    width: 100px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    border: 2px solid black;
}

.answers input[type="radio"]:checked + label, .answers input[type="radio"]:hover + label {
    background-color: #741B74;
    color: white;
}

#extra {
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0 -50px;
    text-align: center;
}

#next-button {
    font-size: 125%;
    padding: 0.5rem;
}

#answer-pop-up {
    position: absolute;
    top: 250px;
    width: 250px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    align-self: center;
    display: none;
}

/* Final page */

#extra > div {
    margin-bottom: 50px;
    margin-top: -50px;
}